* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url(assets/images/bg-image.png);
  background-size: cover;
}

#container {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  border-radius: 24px;
  background-color: #F0E8C2;
  margin: 48px auto;
}

img {
  border-radius: 16px;
  margin-bottom: 24px;
}

main {
  padding: 0px 24px 24px 24px;
}

section+section {
  margin-top: 24px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}

h1,
h2 {
  color: #291B1A;
  font-weight: 400;
  line-height: 150%;
}

#about p+p {
  margin-top: 12px;
}

#ingredients > h2 {
  margin-bottom: 4px;
}

#preparation > h2 {
  margin-bottom: 4px;
}

ul {
  padding-left: 24px;
}

footer {
  text-align: center;
  margin-bottom: 48px;
  color: #F0E8C2;
}