body {
  margin: 0;
  padding: 48px 0px 100px 0px;
  background-image: url(assets/bg-image.png);
  background-size: cover;
}

#container {
  box-sizing: border-box;
  border-radius: 24px;
  width: 800px;
  padding: 24px;
  margin: 48px auto;
  background-color: #F0E8C2;
}

img {
  border-radius: 16px;
}